.contact-header {
//  display: flex;
  justify-content: space-between;
//  width: 50%;
  margin-bottom: 25px;


  .contact-logo {
    height: 70px;
    width: 70px;
    padding: 25px 50px;
  }
  td{
    font-size: 1.3em;
  }
}